<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Включение расширений для использования ASP.NET Core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- Определение переменных -->
	<variables>
		<!-- Объявление переменной logLayout -->
		<variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${aspnet-user-identity}| url: ${aspnet-request-method} ${aspnet-request-url}| ${message} ${exception:format=tostring}" />
	</variables>

	<!-- Определение целей (targets), куда будет производиться запись логов -->
	<targets async="true">
		<!-- Цель для записи всех сообщений с основной информацией -->
		<target xsi:type="File"
                name="allfile"
                fileName="C:\logs\snippetService\log_${shortdate}.log"
                maxArchiveDays="14"
                maxArchiveFiles="14"
                layout="${var:logLayout}" />

		<!-- Цель для вывода сообщений жизненного цикла хоста в консоль -->
		<target xsi:type="ColoredConsole"
                name="lifetimeConsole"
                layout="${var:logLayout}" />

	</targets>

	<!-- Правила для связывания имен логгеров с целями записи -->
	<rules>
		<!-- Все логи, включая логи от Microsoft -->
		<logger name="*" minlevel="Trace" rulename="logToFile" writeTo="allfile" />
		<logger name="*" minlevel="Trace"  writeTo="lifetimeConsole" />
	</rules>

</nlog>
